// Footer section

form {
    margin-top: 2.6rem;
    font-family: 'Poppins','Roboto', sans-serif;
    // flex: 0 0 50%;
    width: 60%;
    // margin: 0 auto;
}

// .socialLinks {
//     flex: 0 0 50%;
//     // border: 1px solid black;
// }

// .socialLink {
//     justify-content: center;
//     align-items: center;
// }

fieldset {
    // padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Poppins','Roboto', sans-serif;
    font-size: 1rem;
    // flex-wrap: wrap;
}

input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: none;
    border: 1px solid $textDark;
    border-bottom: 1px solid $textDark;
    font-family: 'Poppins','Roboto', sans-serif;
    margin: 1rem 0;
    // flex: 0 0 50%;
    border-radius: $borderRadius;
}

// input[type="text"]:first-of-type {
//     margin-right: 1rem;
// }

// input[type="text"]:nth-child(2) {
//     margin-left: 1rem;
// }

textarea {
    border: none;
    border: 1px solid $textDark;
    border-bottom: 1px solid $textDark;
    padding: 1rem;
    font-family: 'Poppins','Roboto', sans-serif;
    margin: 1rem 0;
    width: 100%;
    border-radius: $borderRadius;
}

.send {
    width: 100%;
    text-align: left;
}

.socialLinks {
    padding: 1.6rem 0;
}

.socialLinks a:hover,
.socialLinks a:focus {
    border-bottom: none;
}


.footerBottomBar {
    justify-content: space-between;
    align-items: center;
    // line-height: 3.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    i {
        font-size: 1.6rem;
        letter-spacing: 1.6rem;
    }

    p {
        font-family: 'Poppins','Roboto', sans-serif;
    }
}

@media (max-width: 768px) {
    form {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .footerBottomBar {
        flex-direction: column;
        justify-content: center;
    }

    .footerBottomBar i {
        letter-spacing: 0;
        padding: 0 1rem;
    }
}

@media (max-width: 500px) {
    .footerBottomBar {
        text-align: center;
    }
}