@import 'variables';

body {
    background-color: $lightBG;
    color: $textDark;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
}

h1, h2, h3, h4 {
    font-family: 'Poppins','Roboto', sans-serif;
}

h1 {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $textDark;
    &:hover,
    &:focus {
        color: $mainHighlight;
        border-bottom: 1px solid $mainHighlight;
    }
}

.flexContainer {
    display: flex;
}

.container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.accentText {
    color: $mainHighlight;
}