// Main area 
.aboutImage {
    flex: 1 1 40%;
    img {
        border-radius: $borderRadius;
    }
}

.aboutText {
    flex: 1 1 60%;
    justify-content: center;
    align-items: center;
    padding-left: 5.2rem;
}

.description {
    padding: 1.6rem 0;
    p {
        padding: 0.5rem 0; 
    }
}

.downloadBtn:hover,
.downloadBtn:focus {
    color: $lightBG;
    border: none;
}


// My Skills section
.skillsContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
}

.toolBox {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img,
    svg {
        height: 2.2rem;
        width: 2.2rem;
    }
}

// Project Section
.projectGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
}

.projectArticle div {
    padding: 0 1rem;
}

.projectArticle a {
    font-weight: bold;
}

figure {
    position: relative;
    border-radius: $borderRadius;
    margin-bottom: 1.6rem;
}

figure img {
    transform: scale(1);
    transition: .45s ease-in-out;
    border-radius: $borderRadius;
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $lightBG;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .45s ease-in-out;
    text-align: center;
}

.overlay {
    background: $altDark;
    position: absolute;
    border-radius: $borderRadius;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .45s ease-in-out;
}

.projectText {
    flex: 1 1 60%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

figure:hover .overlay {
    opacity: 0.96;
    z-index: 1;
}
figure:hover figcaption {
    opacity: 1;
    z-index: 2;
}
figure:hover img {
    transform: scale(0.94);
}

figure a {
    text-decoration: none;
    color: $lightBG;
    background-color: transparent;
    padding: 0.2rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 0.5rem;
    border: 1px solid $mainHighlight;
    border-radius: $borderRadius;
    &:hover,
    &:focus {
        color: $lightBG;
        background-color: $mainHighlight;
    }
}


// Media Queries for Main content
@media (max-width: 850px) {
    .aboutText {
        padding-left: 1rem;
    }

}

// Tablet MQ's
@media (max-width: 768px) {
    .aboutContent {
        flex-direction: column;
    }

    .aboutText {
        padding: 2.2rem 0 0 0;
    }

    .skillsContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .projectGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

// L Phones
@media (max-width: 550px) {
    .projectGrid {
        grid-template-columns: 1fr;
    }
}

// S phones
@media (max-width: 480px) {
    .skillsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .toolBox {
        padding: 0.5rem;
    }
}