// Main Colours

$textDark: #090a0c;
$altDark: #14213D;
$lightBG: #fcfcfc;
// $alternateBG: #eaedf2;
// $alternateBG: #eef0eb;
$alternateBG: #E5E5E5;
$mainHighlight: #FCA311;
// $mainHighlight: #d9832e;
$borderRadius: 5px;