// Main Colours

// Blackish text
$textDark: #090a0c;
// Dark blue for dark accenting
$altDark: #14213D;
// Light background colour, also used for text
$lightBG: #fcfcfc;
// Alternate background colour
$alternateBG: #eeeeee;
// Main highlight colour
$mainHighlight: #FCA311;
// Border radius used for all square/rectangle items
$borderRadius: 5px;