a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

body {
  background-color: #fcfcfc;
  color: #090a0c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
}

h1, h2, h3, h4 {
  font-family: 'Poppins','Roboto', sans-serif;
}

h1 {
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: bold;
}

h2, h3, h4 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: bold;
}

i {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

a {
  -webkit-text-decoration: underline solid 1px #FCA311;
          text-decoration: underline solid 1px #FCA311;
  color: #090a0c;
}

a:hover, a:focus {
  color: #FCA311;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.alternateBackground {
  background-color: #eeeeee;
}

.accentText {
  color: #FCA311;
}

.spacedLetters {
  letter-spacing: 0.1rem;
}

.minorSpacedLetters {
  letter-spacing: 0.05rem;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.92rem;
  text-transform: uppercase;
}

strong {
  font-weight: bolder;
}

.sectionPadding {
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
}

.styledBtn {
  background-color: #FCA311;
  padding: 1rem 1.6rem;
  text-transform: uppercase;
  color: #fcfcfc;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.styledBtn:hover, .styledBtn:focus {
  background-color: #14213D;
}

.titleBar {
  text-transform: uppercase;
}

.titleBar h2 {
  font-weight: bold;
  padding-bottom: 1.6rem;
  position: relative;
}

.titleBar h2::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 0px;
  width: 86px;
  height: 4px;
  background-color: #FCA311;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
}

header {
  height: 100vh;
  position: relative;
}

.heroLink {
  margin-top: 3rem;
}

.scrollDown {
  position: absolute;
  bottom: 30px;
  left: 49%;
}

.scrollDown a {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
  background-color: #FCA311;
  border-radius: 50%;
  z-index: 10;
  -webkit-animation: slide 2s infinite;
          animation: slide 2s infinite;
}

.scrollDown a:hover {
  opacity: 0.6;
}

.scrollDown a span {
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  -webkit-transform: rotate(155deg);
  transform: rotate(155deg);
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
  }
}

header nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

header nav h1 {
  color: #090a0c;
  font-size: 1.2rem;
  font-weight: bold;
}

header nav a {
  text-decoration: none;
}

header nav a:hover,
header nav a:focus {
  text-decoration: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

header nav a:hover h1,
header nav a:focus h1 {
  color: #FCA311;
}

header nav li {
  padding: 1rem;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header nav div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header nav button {
  border: none;
  background-color: transparent;
  display: none;
}

header nav button img {
  height: 1.6rem;
  width: auto;
}

.mainMenuNav {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

header nav ul li {
  width: 100%;
  background-color: #fcfcfc;
  text-align: center;
}

.heroContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.heroContainer .heroImage {
  width: 50%;
  opacity: 0.9;
  background-image: url("./../assets/hero-splash3-1.jpg");
  background-position: center;
  background-size: cover;
}

.heroContainer .heroText {
  padding: 0 20px 0 50px;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.heroText p:nth-of-type(2) {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes appear {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.mainMenuNav.makeVisible {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-name: appear;
          animation-name: appear;
  opacity: 1;
  z-index: 1000;
}

@media (max-width: 1350px) {
  .scrollDown {
    left: 48.3%;
  }
}

@media (max-width: 926px) {
  header nav button {
    display: block;
    padding: 0;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav h1 {
    color: #090a0c;
  }
  header nav div:first-of-type {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1.6rem;
  }
  header nav ul {
    border-bottom: 1px solid #090a0c;
    border-top: none;
  }
  .mainMenuNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.8;
    width: 100%;
    border-radius: 8px;
    opacity: 0;
    margin-top: 1.6rem;
  }
  .heroContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .heroContainer .heroImage {
    width: 100%;
    height: 50%;
  }
  .heroContainer .heroText {
    width: 85%;
    height: 50%;
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  header nav div:first-of-type {
    margin-top: 1rem;
  }
  .mainMenuNav {
    margin-top: 0.6rem;
  }
  .heroText p:nth-of-type(2) {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.aboutImage {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.aboutImage img {
  border-radius: 5px;
}

.aboutText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5.2rem;
}

.description {
  padding: 1.6rem 0;
}

.description p {
  padding: 0.5rem 0;
}

.downloadBtn:hover,
.downloadBtn:focus {
  color: #fcfcfc;
  border: none;
}

.skillsContainer {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.toolBox {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toolBox img,
.toolBox svg {
  height: 2.2rem;
  width: 2.2rem;
}

.projectGrid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.projectArticle div {
  padding: 0 1rem;
}

.projectArticle a {
  font-weight: bold;
}

figure {
  position: relative;
  border-radius: 5px;
  margin-bottom: 1.6rem;
}

figure img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
  border-radius: 5px;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #fcfcfc;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
  text-align: center;
}

.overlay {
  background: #14213D;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

.projectText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

figure:hover .overlay {
  opacity: 0.96;
  z-index: 1;
}

figure:hover figcaption {
  opacity: 1;
  z-index: 2;
}

figure:hover img {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

figure a {
  text-decoration: none;
  color: #fcfcfc;
  background-color: transparent;
  padding: 0.2rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 0.5rem;
  border: 1px solid #FCA311;
  border-radius: 5px;
}

figure a:hover, figure a:focus {
  color: #fcfcfc;
  background-color: #FCA311;
}

@media (max-width: 850px) {
  .aboutText {
    padding-left: 1rem;
  }
}

@media (max-width: 768px) {
  .aboutContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutText {
    padding: 2.2rem 0 0 0;
  }
  .skillsContainer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .projectGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .projectGrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .skillsContainer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .toolBox {
    padding: 0.5rem;
  }
}

form {
  margin-top: 2.6rem;
  font-family: 'Poppins','Roboto', sans-serif;
  width: 60%;
}

fieldset {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Poppins','Roboto', sans-serif;
  font-size: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid #090a0c;
  border-bottom: 1px solid #090a0c;
  font-family: 'Poppins','Roboto', sans-serif;
  margin: 1rem 0;
  border-radius: 5px;
}

input[type="text"]:focus {
  border: 1px solid #FCA311;
  -webkit-box-shadow: 0px 3px 25px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 25px -15px rgba(0, 0, 0, 0.75);
}

textarea {
  border: none;
  border: 1px solid #090a0c;
  border-bottom: 1px solid #090a0c;
  padding: 1rem;
  font-family: 'Poppins','Roboto', sans-serif;
  margin: 1rem 0;
  width: 100%;
  border-radius: 5px;
}

textarea:focus {
  border: 2px solid #FCA311;
  -webkit-box-shadow: 0px 3px 25px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 25px -15px rgba(0, 0, 0, 0.75);
}

.send {
  width: 100%;
  text-align: left;
}

.socialLinks {
  padding: 1.6rem 0;
}

.socialLinks a:hover,
.socialLinks a:focus {
  border-bottom: none;
}

.footerBottomBar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerBottomBar i {
  font-size: 1.6rem;
  letter-spacing: 1.6rem;
}

.footerBottomBar p {
  font-family: 'Poppins','Roboto', sans-serif;
  font-size: 0.86rem;
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .footerBottomBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footerBottomBar i {
    letter-spacing: 0;
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .footerBottomBar {
    text-align: center;
  }
}
